{% extends "replies/reply_base.html" %}
{% load bootstrap4 %}

{% block reply_content %}
<div class="container">
	<h4 style="margin-top: 20px">Reply to this Post</h4>
	<form method="POST" action="{% url 'replies:create' %}" id="replyForm" style="margin-top: 20px">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button type="submit" class="btn btn-danger">Create</button>
		<a href="{% url 'subgroups:replies' pk=request.user.last_name %}" class="btn btn-primary">Back</a>
		{% endbuttons %}


	</form>


</div>
{% endblock %}
