{% extends "subgroups/subgroup_base.html" %}
{% load bootstrap4 %}

{% block group_content %}
<div class="container">
  <h4 style="margin-top: 20px">Create A New Post</h4>
  <form method="POST" action="{% url 'subgroups:create' %}" id="subGroupForm" style="margin-top: 20px">
  	{% csrf_token %}
  	{% bootstrap_form form %}
    {% buttons %}
  		<button type="submit" class="btn btn-danger btn-large">Create</button>
  		<a href="{% url 'groups:all' %}" class="btn btn-primary">Home</a>
  	{% endbuttons %}


  </form>

</div>
{% endblock %}
