{% extends 'subgroups/subgroup_base.html' %}
{% block pregroup %}
	<div class="container">
		<h1><strong>{{ subgroup.name }}</strong></h1>
		<h5><i><small>by {{subgroup.user}} on {{ subgroup.created_at }}</i></small></h5>
		<h1></h1>
		<h1></h1>

	</div>

{% endblock %}




{% block group_content %}


	<div class='container'>
		{% if user.is_authenticated %}
			
			<a href="{% url 'replies:create' %}" class="btn btn-danger">Reply</a>

		{% endif %}

	</div>



	<div class="col-md-8">
		
	<h1></h1>

		{% if subgroup.replies_relatedname.count == 0 %}
			<h2>No post in this group yet</h2>
		{% else %}
			{% for each_reply in subgroup.replies_relatedname.all %}
				<h3>{{each_reply}}</h3>
				<h6><i><small>{{each_reply.user}}</i></small></h6>
				<h6><i><small>{{each_reply.created_at}}</i></small></h6>
				<h4>--------------</h4>

			{% endfor %}

		{% endif %}




	</div>




{% endblock %}