{% extends "subgroups/subgroup_base.html" %}

{% block pregroup %}
<div class="col-md-4">
	<h5>pregroup block</h5>
</div>
{% endblock %}

{% block group_content %}

<div class="col-md-8">
	this is block group_content for subbbbGROUP DETAIL

	<div class="list-group">
	
		<a href="{% url 'subgroups:create' %}" class="btn btn-danger">Create Group</a>


		<!-- {{related_subgroups.0.group}} -->
<!-- 
		{% for item in related_subgroups %}
		

				<h4>{{ item }}</h4>
				                          
		
		{% endfor %} -->







		<h2>this is the SUBGROUP detail page</h2>


		<h2>break for item in hello2</h2>

		{% for item in related_subgroups %}
		
		<a href="#">
			<h4>{{ item }}</h4>
		</a>
		<h4>{{ item.group.slug }}</h4>

		{% endfor %}



	</div>

</div>
{% endblock %}

	
	<!-- <a class="nav-item nav-link" href="{% url 'groups:create' %}" class="btn btn-simple">Create Group</a> -->
