{% extends "subgroups/subgroup_base.html" %}

{% block pregroup %}
<div class="col-md-4">
	<h5>pregroup block</h5>
</div>
{% endblock %}

{% block group_content %}

<div class="col-md-8">
	this is block group_content for subbbbGROUP DETAIL

	<div class="list-group">
	
		<a href="{% url 'subgroups:create' %}" class="btn btn-danger">Create New Post</a>



		<h2>this is the SUBGROUP detail page</h2>


		<h2>break for item in hello2</h2>

		{% for item in related_subgroups %}


		<a href="{% url 'subgroups:replies' pk=item.pk %}">

			<h4>{{ item }}</h4>
			<h4>{{ item.pk }}</h4>
		</a>
			<div class="d-flex w-40 justify-content-between">
				<small class="text-muted">
					Created by {{ item.user }}
				</small>
				<small class="text-muted">
					Created on {{ item.created_at }}
				</small>
				<span></span><span></span>
			</div>
			




		{% endfor %}



	</div>

</div>
{% endblock %}


<!-- <a href="{% url 'subgroups:replies' %}"> -->


		<a href="{% url 'subgroups:replies' pk=item.pk slug=item.slug %}">
	