{% extends 'subgroups/subgroup_base.html' %}
{% block pregroup %}
	<div class="container" style="margin-top: 20px">
		<h1><strong>{{ subgroup.name }}</strong></h1>
		<h5><i><small>by {{subgroup.user}} on {{ subgroup.created_at }}</i></small></h5>
		<h1></h1>
		<h1></h1>

	</div>

{% endblock %}




{% block group_content %}

	<!-- <div class='container'> -->
	<div class="list-group-item list-group-item-action flex-column align-items-start" style="margin-bottom: 10px">
		{{ subgroup.description }}
		
	</div>	

	<div class='container'>
		{% if user.is_authenticated %}
			
			<a href="{% url 'replies:create' %}" class="btn btn-danger">Reply</a>

		{% else %}
			<a href="{% url 'accounts:signup' %}" class="btn btn-danger">Sign in to Reply</a>
			<a href="{% url 'accounts:login' %}" class="btn btn-danger">Log in to Reply</a>

		{% endif %}
			<h1><a href="{% url 'subgroups:all' slug=subgroup.group.slug %}" class="btn btn-primary">Back</a></h1>
			

	</div>



	<div class="col-md-8" style="margin-top: 50px">
		
	<h1></h1>

		{% if subgroup.replies_relatedname.count == 0 %}
			<h2>No post in this group yet</h2>
		{% else %}
			{% for each_reply in subgroup.replies_relatedname.all %}
				<h3>{{each_reply}}</h3>
				<h6><i><small>{{each_reply.user}}</i></small></h6>
				<h6><i><small>{{each_reply.created_at}}</i></small></h6>
				<h4>--------------</h4>

			{% endfor %}

		{% endif %}




	</div>




{% endblock %}