{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="col-md-4">
	<div class="content">
		<p>Welcome, this is pregroup block</p>
		<h1>Welcome to Automotive Social</h1>
	</div>

</div>
{% endblock %}

{% block group_content %}

<div class="col-md-8">
	this is block group_content
	<div class="list-group">
		
		{% for group in object_list %}
		<a href="#">
			<h3>{{ group.name }}</h3>
			
		</a>

		

		{% endfor %}
	</div><!-- 
</div> -->
{% endblock %}


<!-- 
		<a href="{% url 'groups:all' slug=group.name %}">
			<h3 class="mb-1">{{ group.name }}</h3>
		</a> -->